.thumbnails {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.tank-preview {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
}

.tank-preview-info-thumb {
    display: grid;
    
    grid-template-columns: 2fr 1fr 1fr 3fr 2fr;
    
    align-items: center;
    justify-items: center;

    margin-right: auto;
    margin-left: auto;
}

.tank-name {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.tank-flag {
    grid-column-start: 2;
}

.tank-thumb:hover * {
    background-color: #3a5243;
}